*{font-family: 'Raleway', sans-serif; margin:0; padding:0;}
a{text-decoration: none;}
li{list-style: none;}
.displayflex{display: flex;}
.container{
	width: 100%;
	height: 100%;
}
/* XS /moins de 576px\ */
/* Header*/

.grid_container {
	display: grid;
	margin-left: 0;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100px 70px;
	grid-row-gap: 20px;
}
.logo {
	width: 13em;
	margin-top: 0.5em;
	grid-column: 1;
	grid-row: 1;
}
.inscription {
	grid-column: 2;
	grid-row: 1;
	text-align: right;
	font-size: 2em;
	color: #0065fc;
	padding-top: 15px;
	padding-right: 15px;
}
.li1 {
	grid-column: 1;
	grid-row: 2;
	text-align: center;
	border-bottom: 3px solid #f2f2f2;
	font-size: 2em;
	color:black;
}
.li2 {
	grid-column: 2;
	grid-row: 2;
	text-align: center;
	border-bottom: 3px solid #f2f2f2;
	font-size: 2em;
	color:black;
}
.li1:hover {border-bottom: 3px solid #0065fc; color: #0065fc;}
.li2:hover {border-bottom: 3px solid #0065fc; color: #0065fc;}
.li1:active {border-bottom: 3px solid #0065fc; color: #0065fc;}
.li2:active {border-bottom: 3px solid #0065fc; color: #0065fc;}

@media (min-width: 992px){
.grid_container {
	grid-template-columns: 10% auto 160px 160px 160px;
	grid-template-rows: 50px;
}

.logo {
	width: 7em;
	margin-top: 0.5em;
	grid-column: 1;
	padding-left:20px
}

.inscription {
	font-size: 1em;
	padding-top: 38px;
	grid-row: 1;
	grid-column: 5;
	text-align: center;
	padding:20px 0;
}

.li1 {
	font-size: 1em;
	grid-row: 1;
	grid-column: 3;
	text-align: center;
	padding:20px 0;
	border:none;
}
.li1:hover{border-top: solid 2px #0065fc; color: #0065fc; border-bottom: none; padding: 18px 0;}
.li1:active{border-top: solid 2px #0065fc; color: #0065fc; border-bottom: none; padding: 18px 0;}
.li2 {
	font-size: 1em;
	grid-row: 1;
	grid-column: 4;
	text-align: center;
	padding:20px 0;
	border:none;
}
.li2:hover{border-top: solid 2px #0065fc; color: #0065fc; border-bottom: none; padding: 18px 0;}
.li2:active{border-top: solid 2px #0065fc; color: #0065fc; border-bottom: none; padding: 18px 0;}
}
/* -- Search-- */
.bouton{display: none;}
#Search{margin-top: 50px;}
#Search h1{padding-left: 20px;	margin-bottom: 5px; font-size: 2.5rem;}
.slogan{padding-left:20px; font-size:1.8rem}
.recherche{margin:20px;}
.position{
	width: 75px;
	background: #f2f2f2;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	font-size: 2em;
	text-align: center;
	padding-top: 23px;
}
.saisie{
	font-size:2rem;
	height: 75px;
	width: 60%;
	border: #f2f2f2 2px solid;
}
.loupe{
background: #0065fc;
width: 75px;
color:white;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
font-size: 2em;
text-align: center;
padding-top: 23px;
}
.filtres h2{margin-left: 20px;}
.div_filtre{margin-left: 20px;}
.filtre {
	border: 2px #d8d8d8 solid;
	border-radius: 35px;
	margin-right: 20px;
	padding-right: 20px;
	height: 50px;
	margin-bottom: 10px;
	width: auto;
}

.filtre:hover {
	background-color: #DEEBFF;
	color: #0065fc;
}

.filtres p {
	font-size: 1.2em;
	font-weight: bold;
	margin: auto;
	padding-left: 10px;
	text-align: center;
}
.filtre i{
	background-color: #DEEBFF;
	color: #0065fc;
	text-align: center;
	font-size: 1.2em;
	padding-top: 15px;
	border-radius: 30px;
	padding-left: 0;
	width: 50px;}
.heart{width: 50px;}
#Search h2 {
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 10px;
}
.div_filtre {
	flex-wrap: wrap;
}.div_info {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 50px;
}

.info_logo {
	color: #0065fc;
	border: #f2f2f2 3px solid;
	width: 7px;
	border-radius: 20px;
	font-size: 10px;
	padding: 6px 5px 5px 8px
}

.info {
	font-size: 13px;
	padding-top: 6px;
	padding-left: 20px;
}
@media (min-width: 992px){
	.saisie{height: 50px;padding-left: 10px; font-size: 1.4em;}
	.position{
		height: 38px;
		font-size: 1.5em;
		padding-top: 15px;
		width: 53px;
	}
	.loupe{display: none;}
	.bouton{
		display: flex;
		background: #0065fc;
		color: white;
		border-bottom-right-radius:20px ;
		border-top-right-radius: 20px;
		border: none;
		width: 100px;
		height: 53px;
		margin-left: -1px;
		padding-left: 10px;
	}
}
/*--Hebergements--*/
#Hebergements{flex-direction: column-reverse;}
.marseille{margin-top: 50px;}
.marseille h3{margin-left: 20px; margin-bottom: 20px;}
.div_article{
	flex-direction: column;}
.div_article2{
	flex-direction: column;
}
.marseille article{
	margin:25px auto;
	border-radius: 20px;
	width: 450px;
	height: 280px;
	background-size: cover;
	border: white solid 5px;
	box-shadow: 5px 5px 5px #d8d8d8;
}
.back_white{
	background: white;
	width: 440px;
	height: 80px;
	margin-top: 200px;
	padding-left:10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.back_white h4{color:black; padding-top:10px;}
.back_white p{color:black; padding-top:5px}
.back_white .star{font-size:0.8em;padding-top:10px}
.article1{
	background-image: url(images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.article2{
	background-position-y:bottom ;
	background-image: url(images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.article3{
	background-position-y:bottom ;
	background-image: url(images/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
.article4{
	background-position-y:bottom ;
	background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.article5{
	background-image: url(images/hebergements/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.article6{
	background-position-y:bottom ;
	background-image: url(images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}
.plus{color:black; padding:20px}

#Populaire{
	background: #f2f2f2;}
#Populaire h3{margin-left: 20px;padding-top:20px; flex:1}
.populaire_logo{margin-right: 20px; padding-top: 20px; font-size: 1.5em;}
#Populaire article{
	border-radius: 20px;
	width: 450px;
	height: 160px;
	margin-top: 18px;
	background-repeat: no-repeat;
	box-shadow: 5px 5px 5px #d8d8d8;
	border: 5px white solid;
	margin: 40px auto;
}
.back_white2{
	background: white;
	height: 152px;
	width: 280px;
	margin-left:150px;
	color:black;
	padding-left:20px;
	padding-top:10px;
	margin-top: -1px;
	border: white 2px solid;
	border-bottom-right-radius:25px ;
	border-top-right-radius:20px ;
}
.back_white2 p{padding-top: 5px;}
.star_on{color:#0065fc}
.star_off{color:#d8d8d8}
.populaire_star{padding-top: 80px;font-size: 0.7em;}
.populaire_star2{padding-top:60px; font-size: 0.7em;}
.article7{
	background-image: url(images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
	background-size: 250px;
}
.article8{
	background-image: url(images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg);
	background-size: 220px;
}
.article9{
	background-image: url(images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
	background-size: 200px;
	background-position-y:bottom ;
}

@media (min-width: 768px){
	#Populaire article{
		width: 600px;
		height: 190px;}
	.back_white2{
		height: 180px;
		width: 400px;
		margin-left:180px ;
	}
	.article7{background-size: 300px;}
	.article8{background-size: 270px;}
	.article9{background-size: 250px;}

	.marseille article{
		width:600px;
		height: 300px;
	}
	.back_white{
		width:600px;
		height:85px ;
		margin-top:220px;
		margin-left: -5px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}
@media (min-width: 992px){
	.marseille{margin:20px auto 0 auto;}
	.div_article{flex-direction: row;}
	.div_article2{flex-direction: row;}
	.marseille article{
		width:280px;
		height: 180px;
		margin:20px
	}
	.back_white{
		width:280px;
		height: 80px;
		margin-top:130px;
		margin-left: -5px;
		box-shadow: 5px 5px 5px #d8d8d8;
	}
	.back_white .star{padding-top:5px}
}
@media (min-width: 1200px){
	#Hebergements{flex-direction: row; margin:0 auto;}
	.marseille{background:#f2f2f2;border-radius: 20px; margin-top: 0;;}
	.flex-col{display:flex;flex-direction:row;}
	.div_article{flex-direction: column;}
	.div_article2{flex-direction: column;}
	.marseille h3{padding-top:20px;}
	.marseille article{
		width: 300px;
		margin: 0 10px 45px 10px;
	}
	.back_white{
		width:300px;
	}
	#Populaire{border-radius: 20px; padding:0 10px; margin-left: auto; margin-right: auto;}
	#Populaire article{
		width: 400px;
		height: 190px;}
	.back_white2{
		height: 180px;
		width: 200px;
		margin-left:180px ;
	}
}
@media (min-width: 1499px){
	.flex-col{flex-direction:column;}
	.div_article{flex-direction: row;}
	.div_article2{flex-direction: row;}
	#Populaire article{
		width: 450px;
		height: 160px;
		margin-bottom: 20px;
		margin-top:20px
	}
	.back_white2{
		height: 150px;
		width: 280px;
		margin-left:150px ;
	}
	.marseille{margin-left: auto; padding:0 20px}
	.marseille article{
		width: 250px;
		height: 180px;
		margin: 0 10px 80px 10px;
	}
	.back_white{
		width:250px;
		height: 80px;
		margin-top:150px
	}
}
/*--Activites --*/*
#Activites{margin-top: 20px;}
#Activites h3{margin-left:20px;
			padding-bottom: 20px;}
.div_activites{flex-direction:column;}
.div_activite2{flex-direction:column;}
.article10{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	width: 450px;
	height: 160px;
	box-shadow: 5px 5px 5px #d8d8d8;
	border-radius: 20px;
	background-size: cover;
	background-position-y: bottom;
	background-image: url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}
.article11{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	width: 450px;
	height: 160px;
	box-shadow: 5px 5px 5px #d8d8d8;
	border-radius: 20px;
	background-size: cover;
	background-position-y: center;
	background-image: url(images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}
.article12{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	width: 450px;
	height: 160px;
	box-shadow: 5px 5px 5px #d8d8d8;
	border-radius: 20px;
	background-size: cover;
	background-position-y: center;
	background-image: url(images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}
.article13{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	width: 450px;
	height: 160px;
	box-shadow: 5px 5px 5px #d8d8d8;
	border-radius: 20px;
	background-size: cover;
	background-position-y: bottom;
	background-image: url(images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}
.article14{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	width: 450px;
	height: 160px;
	box-shadow: 5px 5px 5px #d8d8d8;
	border-radius: 20px;
	background-size: cover;
	background-position-y: bottom;
	background-image: url(images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}
.article15{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	width: 450px;
	height: 160px;
	box-shadow: 5px 5px 5px #d8d8d8;
	border-radius: 20px;
	background-size: cover;
	background-position-y: bottom;
	background-image: url(images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}
.link1{
	width: 440px;
	height: 30px;
	position: absolute; ;
	margin-top: 140px;
}
.link2{
	position: absolute; ;
	margin-top: 140px;
	width: 440px;
	height: 30px;
}
.link3{
	position: absolute; ;
	margin-top: 140px;
	width: 440px;
	height: 30px;
}
.link4{
	position: absolute; ;
	margin-top: 140px;
	width: 440px;
	height: 30px;
}
.link5{
	position: absolute; ;
	margin-top: 140px;
	width: 440px;
	height: 30px;
}
.link6{
	position: absolute; ;
	margin-top: 140px;
	width: 440px;
	height: 30px;
}
.link{
	padding-top: 10px;
	color:black;
	background: white;padding-left: 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 5px 5px 5px #d8d8d8;
}
@media (min-width: 768px){
	.article10{
		width: 600px;
		height: 190px;
		}
	.article11{
		width: 600px;
		height: 190px;
		}
	.article12{
		width: 600px;
		height: 190px;
		}
	.article13{
		width: 600px;
		height: 190px;
		}
	.article14{
		width: 600px;
		height: 190px;
		}
	.article15{
		width: 600px;
		height: 190px;
		}
	.link1{
		width: 590px;
		height: 30px;
		margin-top: 170px;
	}
	.link2{
		width: 590px;
		height: 30px;
		margin-top: 170px;
	}
	.link3{
		width: 590px;
		height: 30px;
		margin-top: 170px;
	}
	.link4{
		width: 590px;
		height: 30px;
		margin-top: 170px;
	}
	.link5{
		width: 590px;
		height: 30px;
		margin-top: 170px;
	}
	.link6{
		width: 590px;
		height: 30px;
		margin-top: 170px;
	}
}
@media (min-width: 992px){
.div_activites{flex-direction:row; justify-content: center;}
.div_activite2{flex-direction:row}
.article10{
	width: 210px;
	height: 450px;
	margin-left: 10px;
	margin-right: 10px;
	}
.article11{
	width: 210px;
	height: 190px;
	margin-left: 10px;
	margin-right: 10px;
	}
.article12{
	width: 210px;
	height: 190px;
	margin-left: 10px;
	margin-right: 10px;
	}
.article13{
	width: 210px;
	height: 440px;
	margin-left: 10px;
	margin-right: 10px;
	background-position-x: center;
	}
.article14{
	width: 210px;
	height: 190px;
	margin-left: 10px;
	margin-right: 10px;
	}
.article15{
	width: 210px;
	height: 190px;
	margin-left: 10px;
	margin-right: 10px;
	}
.link1{
	width: 200px;
	height: 30px;
	margin-top: 420px;
}
.link2{
	width: 200px;
	height: 30px;
	margin-top: 170px;
}
.link3{
	width: 200px;
	height: 30px;
	margin-top: 170px;
}
.link4{
	width: 200px;
	height: 50px;
	margin-top: 400px;
}
.link5{
	width: 200px;
	height: 30px;
	margin-top: 170px;
}
.link6{
	width: 200px;
	height: 30px;
	margin-top: 170px;
}
}
@media (min-width: 1200px){
	.article10{
		width: 280px;
		}
	.article11{
		width: 280px;
		}
	.article12{
		width: 280px;
		}
	.article13{
		width: 280px;
		}
	.article14{
		width: 280px;
		}
	.article15{
		width: 280px;
		}
	.link1{
		width: 270px;
	}
	.link2{
		width: 270px;
	}
	.link3{
		width: 270px;
	}
	.link4{
		width: 270px;
	}
	.link5{
		width: 270px;
	}
	.link6{
		width: 270px;
	}
}

@media (min-width: 1500px){
	.article10{
		width: 350px;
		}
	.article11{
		width: 350px;
		}
	.article12{
		width: 350px;
		}
	.article13{
		width: 350px;
		}
	.article14{
		width: 350px;
		}
	.article15{
		width: 350px;
		}
	.link1{
		width: 340px;
	}
	.link2{
		width: 340px;
	}
	.link3{
		width: 340px;
	}
	.link4{
		width: 340px;
	}
	.link5{
		width: 340px;
	}
	.link6{
		width: 340px;
	}
}
/*--Footer--*/
footer{
	background:#f2f2f2;
	padding:20px
}
footer a{color:black}
footer ul li{padding:10px 0;}
footer h2{padding: 20px 0;}
@media (min-width: 992px){
	footer{
		display: flex;
		justify-content: space-around;
	}
}

